@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #12365C, #685D59);
}

main {
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px hsla(0, 6%, 10%, 0.404);
    padding: 10px;
    margin: auto;
    border-radius: 15px
}

h1 {
    color: #185B88;
    text-align: center;
    text-shadow: 1px 1px 0px #103853;
}

h2 {
    color: #6098BB;
}

p {
    text-align: justify;
}