@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(43, 42, 42, 0.966);
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #F2C12E;
    height: 100px;
    box-shadow: 1px 1px 1px rgba(255, 255, 0, 0.719);
    color: rgba(255, 255, 255, 0.979);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-flow: column nowrap;
}

h1 {
    text-align: center;
    font-size: 2.7em;
}

a, p {
    color: rgba(245, 245, 245, 0.959);
    margin: 15px;
    font-size: 1.2em;
    text-decoration: none;
}

a {
    width: 90%;
    height: auto;
    text-align: center;
}

.buttom {
    margin: 10px 15px;
    width: 250px;
    height: 32px;
    background-color: #024959;
    border-radius: 5px;
    border: 2px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

div:hover {
    border: 2px solid white;
}

img {
    position: fixed; 
    bottom: 2%;       
    right: 2%;        
    width: 300px;  
    height: auto;
}