@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #84E1AD;
}

h1 {
    margin: 0;
    padding: 20px;
}


h2 {
    padding: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
    margin: 0;
}

h3 {
    background-image: linear-gradient(to right ,#C4EBD5, white);
    text-indent: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

h4 {
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #2FA866;
    color: white;
}

header {
    background-image: linear-gradient(to bottom, #3CD681, #288F56, #236542);
    padding: auto;
    color: white;
    text-align: center;
}

main {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    max-width: 1000px;
}

nav{
    text-align: initial;
    font-weight: bold;
}

p {
    display: inline;
    margin-left: 15px;
}


p.hover:hover {
    background-color: #155834;
    padding: 0px 5px;
}

aside {
    border-radius: 10px 10px 10px 10px;
    margin: 20px;
    padding-bottom: 10px;
    background-color: #C5EBD6;
}

.droidfont {
    font-family: 'idroid', sans-serif;
    color: #155834;
}

article {
    text-indent: 15px;
    font-size: 0.9em;
    font-weight: 300;
    text-align: justify;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

div {
    text-align: center;

}

img {
    width: 90%;
}

img#android {
    width: auto;
}

footer {
    text-align: center;
    background-color: #1A5C38;
    color: white;
    margin-top: 20px;
}

ul {
    columns: 2;
}

li {
    display: table;
    padding-left: 10px;
}

iframe {
  width: 90%;
  height: 90%;
  position: absolute; 
  top: 5%;
  left: 5%;
}

img.checkmark {
    width: 3%;
}

span.underline{
    text-decoration: underline;
}

.green{
    color: #257e4f;
    font-weight: 600;
}

div#videobg {
    padding: 20px;
    padding-bottom: 54.2%;
    background-color: #1A5C38;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

p#desc {
    text-indent: 15px;
    font-weight: 300;
    text-align: inherit;
    padding: 10px;
    display: block;
    font-weight: 500;
}

p#fechamento {
    display: block;
    margin-left: 20px;
    text-indent: 15px;
}
