@charset "UTF-8";

table {
    width: 500px;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #757575;
    color: #ffffff;
}

tr {
    height: 30px;
}

tr.grey {
    background-color: #757575;
    color: white;
    text-align: left;
    text-indent: 5px;
}

tr.grey > td {
    text-align: center;
    text-indent: 0%;
}

th, td {
    border: 1px solid black;
}
